//- Sección de encabezado (Global)
//- @author zkreations

+widget("PageList",{},1)(title='Navbar')

+widget("Header")

+widget("PageList")(title='Menu', locked="true")
  b:includable#content
  b:includable#main
    b:include(name="widget:Menu")
