//- Sección de barra lateral (Global)
//- @author zkreations

+widget("FeaturedPost", { useMostRecentPost: "true" })(title='{ title: "Featured", type: "portfolio" }')

+widget("PopularPosts", { showSnippets: "false" })(title='{ title: "Trending", content: "featured" }', locked="false")

+widget("BlogArchive")(title='Archive')



