//- Sección principal (Página principal)
//- @author zkreations

+widget("PopularPosts")(title='Breaking News')

+widget("PopularPosts", { 
    numItemsToShow: 4,
    showSnippets: "false"
  })(title='{ content: "bigger" }')