//- Contenido del widget Hero (Mutation: Blog)
//- @author zkreations

b:includable(id='widget:BlogHero')
  b:include(name='$:class', data='{class: "post-cover relative has-cover bg-black"}')
  b:with(value='data:posts.first', var='post')
    b:include(name='post:hero', data='{ titleClass: "m:fs-2 fs-3", class: "hero-content b:skin-m b:skin-px pb-1 w-1/1" }')
