Group(description="Accents")
  +variables({ 
    "accent.primary": { description: "Action color", type: "color", value: "#f3a92b" },
    "accent.secondary": { description: "Alternate Color", type: "color", value: "#3f3f46" },
  })
