| Formulario de comentarios
| =====================
+variables({
  "posts.text.color" : { description: "Content color", type: "color", value: "#666", hideEditor: "true" },
  "posts.link.color" : { value: "#666"},
  "posts.text.font" : { value: "15px Roboto"},
  "posts.background.color" : { value: "transparent"},
  "posts.title.color" : { value: "false"},
  "body.link.color" : { value: "false"},
})
| #{'\n'}