Group(description="Dark mode")
  +variables({
    "dark.body.color": { description: "Body background color", type: "color", value: "#000000" },
    "dark.bg.template": { description: "Main Background Color", type: "color", value: "#101010" },
    "dark.bg.default": { description: "Background color (Bottom)", type: "color", value: "#161717" },
    "dark.bg.inset": { description: "Background color (Top)", type: "color", value: "#282a2a" },
    "dark.color.title": { description: "Title color", type: "color", value: "#fff" },
    "dark.color.text": { description: "Content color", type: "color", value: "#8f8f98" },
    "dark.header.bg": { description: "Header Background", type: "color", value: "#101010" },
    "dark.logo.color": { description: "Blog Title Color", type: "color", value: "#fff" },
    "dark.desc.color": { description: "Blog Description Color", type: "color", value: "#8f8f98" },
    "dark.nav.bg": { description: "Nav Background", type: "color", value: "#202222" },
    "dark.nav.color": { description: "Nav Color", type: "color", value: "#fff" },
    "dark.nav.subnav": { description: "Nav Subnav Background", type: "color", value: "#090909" },
    "dark.nav.secondary.bg": { description: "Nav Secondary Background", type: "color", value: "#1c1c1c" },
    "dark.nav.secondary.color": { description: "Nav Secondary Color", type: "color", value: "#8f8f98" },
    "dark.footer.bg": { description: "Footer Gadget Background", type: "color", value: "#1c1c1c" },
    "dark.footer.lower.bg": { description: "Footer Background", type: "color", value: "#090909" },
    "dark.footer.links.color": { description: "Footer Links", type: "color", value: "#fff" },
    "dark.cookie.bg": { description: "Cookie Background", type: "color", value: "#000" },
    "dark.cookie.color": { description: "Cookie Color", type: "color", value: "#fff" },
  })
