Group(description="Font")
  +variables({ 
    "blog.logo.font": { description: "Blog Title Font", type: "font", value: "32px var(--font-primary)" },
    "blog.desc.font": { description: "Blog Description Font", type: "font", value: "14px var(--font-secondary)" },
    "blog.nav.font": { description: "Page list font", type: "font", value: "15px var(--font-primary)" },
    "font.primary": { description: "Title Font", type: "font", value: "normal normal 10px var(--font-roboto)" },
    "body.text.font": { description: "Content font", type: "font", value: "normal normal 10px var(--font-roboto)"},
  })
