Group(description="Widths")
  +variables({ 
    "width.container": { description: "Content width", type: "length", min: "900px", max: "2000px", value: "1216px"},
    "width.sidebar": { description: "Sidebar width", type: "length", min: "200px", max: "500px", value: "340px"},
    "width.post": { description: "Post width (stream)", type: "length", min: "600px", max: "800px", value: "800px"},
    "height.breaking": { description: "Breaking news", type: "length", min: "46px", max: "100px", value: "52px"},
    "spacing.primary": { description: "Primary spacing", type: "length", min: "0px", max: "50px", value: "32px"},
    "spacing.secondary": { description: "Secondary spacing", type: "length", min: "0px", max: "50px", value: "6px"},
    "tg.blocks": { description: "Typography block space ", type: "length", min: "0px", max: "50px", value: "24px"},
    "tg.headings": { description: "Typography headings space ", type: "length", min: "0px", max: "50px", value: "24px"},
    "tg.inline": { description: "Typography inline space ", type: "length", min: "0px", max: "50px", value: "8px"},
  })
