| /*!
|  * Name      : Maily - Ultimate Blogger template
|  * Theme URL : https://store.zkreations.com/2023/02/maily.html
|  * Source    : https://github.com/zkreations/maily
|  * Version   : 2.0.10
|  * Author    : Abel Daniel Moreira Moreno (https://github.com/danieIabel)
|  * License   : GPL (https://github.com/zkreations/maily/blob/main/LICENSE)
|  * Copyright : 2023 zkreations. All right reserved
|  *//*
|
include variables/admin
include variables/default
include variables/basic
include variables/comment
include variables/cards
include variables/post
include variables/functions
include variables/text
include variables/groups
include variables/const
| */ #{'\n'}
